{% extends 'layout.html' %}
{% block title %}All Blood Donations{% endblock %}

{% block content %}
<div class="container mt-5">
    <h3>All Blood Donations</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Unit ID</th>
                <th>Donor ID</th>
                <th>Blood Bank</th>
                <th>Type</th>
                <th>Donated</th>
                <th>Expiry</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for unit in units %}
            <tr>
                <td>{{ unit.unit_id }}</td>
                <td>{{ unit.donor_id }}</td>
                <td>{{ unit.blood_bank_id }}</td>
                <td>{{ unit.blood_type }}</td>
                <td>{{ unit.donated_date }}</td>
                <td>{{ unit.expiry }}</td>
                <td>{{ unit.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}